
body{
    background-color: white;
}
#style-nav{
    display: flex;
    align-items: center;
}
.navbar-nav {
    display: flex;
    gap: 30px;
    border-bottom: #e0e1e2;
    padding-bottom: 5px;
}
.btn {
    height: 50px;
    width: 150px;
}
.header-container{
    display: flex;
    gap: 10px;
    height: 50px;
    width: 100%;
    background-color: #e0e1e2;
}
.h1{
    float: left;
    padding: 100px 50px 10px;
    width: 50%;

}
.h2{
   float: right;
   padding-top: 50px;
   width: 45%;
}
.btn2{
    margin: 0 auto;
    height: 70px;
    width: 150px;
    border-radius: 5px;
    font-size: small;
}
.mid-div{
    /* display: grid;
    grid-template-columns: repeat(5 , 1fr); */
   gap: 30px;
    width: 95%;
    height: 120px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #caf3af;
    margin: 0 auto;
    align-items: center;
}
.form-class{
    border-radius: 20px;
    display: inline-block;
    padding-top: 30px;
   
}
.input-div{
    background-color: #2c2323;
    color: white;
    border-radius: 5px;
}
.btn-primary{
   width: 200px;
}
#carouselExampleIndicators{
   padding-left: 30px;
   padding-right: 30px;
   border-radius: 30px;
    
}
.head-div{
    align-items: center;
    display: flex;
}